In [1]:
#import libraries
import pandas as pd

In [2]:
#read dataset
data = pd.read_csv("kpopdataset.csv",sep="\t",delimiter = ";")
data.head()

,rank,name,agency,real name,group,age,height,weight,blood type,origin,country,position,industry,gender,curr date,birth date
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Seo Jin Ah,Berry Chu,37.0,NaN,NaN,NaN,Seoul,South Korea,"Leader, Vocalist",K-pop,Female,23.04.2020,29.04.1983
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Kim Ha Yul,Berry Chu,33.0,NaN,NaN,NaN,Seoul,South Korea,Vocalist,K-pop,Female,23.04.2020,18.10.1986
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Han Ji Eun,Berry Chu,33.0,NaN,NaN,NaN,Seoul,South Korea,Vocalist,K-pop,Female,23.04.2020,12.01.1987
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Heo Yun Mi,Berry Chu,32.0,NaN,NaN,NaN,Incheon,South Korea,Vocalist,K-pop,Female,23.04.2020,23.03.1988
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Kim Haum,Berry Chu,29.0,NaN,NaN,NaN,Seoul,South Korea,"Vocalist, Maknae",K-pop,Female,23.04.2020,20.10.1990

In [3]:
data.shape

(1901, 16)

In [4]:
#missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901 entries, 0 to 1900
Data columns (total 16 columns):
rank          1901 non-null int64
name          1901 non-null object
agency        1874 non-null object
real name     1566 non-null object
group         1901 non-null object
age           1725 non-null float64
height        1603 non-null float64
weight        1253 non-null float64
blood type    1349 non-null object
origin        686 non-null object
country       1895 non-null object
position      1836 non-null object
industry      1901 non-null object
gender        1901 non-null object
curr date     1901 non-null object
birth date    1725 non-null object
dtypes: float64(3), int64(1), object(12)
memory usage: 237.7+ KB

In [5]:
#determine the amount of missing values
data.isnull().sum()

rank             0
name             0
agency          27
real name      335
group            0
age            176
height         298
weight         648
blood type     552
origin        1215
country          6
position        65
industry         0
gender           0
curr date        0
birth date     176
dtype: int64

In [6]:
#drop the columns
data.drop('real name',axis=1,inplace=True)
data.drop('origin',axis=1,inplace=True)
data.drop('industry',axis=1,inplace=True)
data.drop('curr date',axis=1,inplace=True)
data.drop('birth date',axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901 entries, 0 to 1900
Data columns (total 11 columns):
rank          1901 non-null int64
name          1901 non-null object
agency        1874 non-null object
group         1901 non-null object
age           1725 non-null float64
height        1603 non-null float64
weight        1253 non-null float64
blood type    1349 non-null object
country       1895 non-null object
position      1836 non-null object
gender        1901 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 163.4+ KB

In [7]:
#read new dataset of popular groups
popular = pd.read_csv("bestkpopgroups.csv",sep="\t",delimiter = ";")
popular.head()

   Rank               Group                  Label
0     1  BTS (Bangtan Boys)  Big Hit Entertainment
1     2          Black Pink        YG Entertaiment
2     3                GOT7      JYP Entertainment
3     4                 EXO       SM Entertainment
4     5         Stray Kinds      JYP Entertainment

In [8]:
popular.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
Rank     100 non-null int64
Group    100 non-null object
Label    100 non-null object
dtypes: int64(1), object(2)
memory usage: 2.4+ KB

In [9]:
#add new column popularity
data['popularity'] = 0
p = data['popularity']
data.head()

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,NaN,NaN,NaN,South Korea,"Leader, Vocalist",Female,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,NaN,NaN,NaN,South Korea,"Vocalist, Maknae",Female,0

In [10]:
#compare two datasets
#if group contains in dataset with popular group
#then we equal values of column popularity from 0 to 1
for index1, row1 in data.iterrows():
    for index2, row2 in popular.iterrows():
        if(row1['group']==row2['Group']):
            p[index1]=1

C:\anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [11]:
data.head(30)

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,NaN,NaN,NaN,South Korea,"Leader, Vocalist",Female,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,NaN,NaN,NaN,South Korea,"Vocalist, Maknae",Female,0
5,6,Soyou,주식회사 씨그널엔터테인먼트그룹,Berry Chu,34.0,NaN,NaN,NaN,South Korea,Vocalist,Female,0
6,7,Vanya,Zenith Media Contents,Z-Girls,23.0,159.0,50.0,O,Indonesia,"Lead Vocalist, Main Dancer, Lead Rapper",Female,0
7,8,Roy,Zenith Media Contents,Z-Boys,23.0,NaN,NaN,NaN,Vietnam,Main Vocalist,Male,0
8,9,Josh,Zenith Media Contents,Z-Boys,22.0,174.0,NaN,NaN,Philippines,"Main Dancer, Lead Vocalist",Male,0
9,10,Sid,Zenith Media Contents,Z-Boys,20.0,NaN,NaN,NaN,India,Main Vocalist,Male,0
10,11,Gai,Zenith Media Contents,Z-Boys,19.0,NaN,NaN,NaN,Japan,"Main Rapper, Lead Dancer, Vocalist, Visual",Male,0
11,12,Blink,Zenith Media Contents,Z-Boys,15.0,NaN,NaN,NaN,Thailand,"Vocalist, Maknae",Male,0
12,13,Carlyn,Zenith Media Contents,Z-Girls,24.0,160.0,45.0,NaN,Philippines,"Leader, Main Vocalist, Lead Dancer, Center",Female,0
13,14,Mahiro,Zenith Media Contents,Z-Girls,24.0,156.0,43.0,A,Japan,"Lead Vocalist, Visual",Female,0
14,15,Bell,Zenith Media Contents,Z-Girls,16.0,156.0,43.0,NaN,Thailand,"Lead Dancer, Rapper, Vocalist, Youngest",Female,0
15,16,Queen,Zenith Media Contents,Z-Girls,23.0,162.0,49.0,NaN,Vietnam,"Main Rapper, Lead Dancer, Sub Vocalist",Female,0
16,17,Priyanka,Zenith Media Contents,Z-Girls,22.0,155.0,43.0,NaN,India,Main Vocalist,Female,0
17,18,Joanne,Zenith Media Contents,Z-Girls,19.0,173.0,50.0,NaN,Taiwan,"Lead Dancer, Vocalist, Visual",Female,0
18,19,Mavin,Zenith Media Contents,Z-Boys,24.0,168.0,NaN,NaN,Indonesia,"Leader, Lead Dancer, Lead Rapper, Vocalist",Male,0
19,20,Perry,Zenith Media Contents,Z-Boys,25.0,NaN,NaN,NaN,Taiwan,"Lead Vocalist, Lead Dancer",Male,0
20,21,Sejin,Zenith Media,Wanna.B,29.0,166.0,47.0,NaN,South Korea,"Leader, Main Vocalist, Lead Rapper",Female,0
21,22,Roeun,Zenith Media,Wanna.B,29.0,160.0,45.0,NaN,South Korea,Main Vocalist,Female,0
22,23,Bang Hyunah,Zenith Media,Wanna.B,29.0,161.0,44.0,NaN,South Korea,"Main Rapper, Vocalist, Center,",Female,0
23,24,Ami,Zenith Media,Wanna.B,25.0,170.0,49.0,NaN,South Korea,"Main Dancer, Vocalist, Visual",Female,0
24,25,Eunsom,Zenith Media,Wanna.B,25.0,165.0,47.0,NaN,South Korea,"Lead Vocalist, Lead Dancer, Maknae",Female,0
25,26,Cheng Xiao,Yuehua Entertainment,Cosmic Girls,21.0,167.0,NaN,B,China,"Main Dancer, Vocalist, Visual, Face Of the Group",Female,0
26,27,Luda,Yuehua Entertainment,Cosmic Girls,23.0,157.0,NaN,A,South Korea,"Lead Rapper, Vocalist",Female,0
27,28,Onda,Yuehua Entertainment,EVERGLOW,19.0,166.0,NaN,B,South Korea,"Lead Vocalist, Lead Dancer, Visual",Female,1
28,29,Yibo,Yuehua Entertainment,UNIQ,22.0,182.0,59.0,A,South Korea,"Main Dancer, Rapper, Vocalist, Visual, Maknae",Male,0
29,30,Seungyoun,Yuehua Entertainment,UNIQ,23.0,180.0,65.0,O,South Korea,"Main Rapper, Vocalist",Male,0

In [12]:
def bar_chart(dt):
    popular = data[data['popularity']==1][dt].value_counts()
    unpopular = data[data['popularity']==0][dt].value_counts()
    df = pd.DataFrame([popular,unpopular])
    df.index = ['Popular','Unpopular']
    df.plot(kind='bar',stacked=True,figsize=(10,5))

In [13]:
#bar chart for gender category
bar_chart('gender')

In [14]:
# We can see that male groups more popular than female

In [15]:
#gender 
#set male to 0 and female to 1
gender_map = {"Male": 0, "Female": 1}

data['gender']=data['gender'].map(gender_map)

In [16]:
data.head(10)

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,NaN,NaN,NaN,South Korea,"Leader, Vocalist",1,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,NaN,NaN,NaN,South Korea,"Vocalist, Maknae",1,0
5,6,Soyou,주식회사 씨그널엔터테인먼트그룹,Berry Chu,34.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
6,7,Vanya,Zenith Media Contents,Z-Girls,23.0,159.0,50.0,O,Indonesia,"Lead Vocalist, Main Dancer, Lead Rapper",1,0
7,8,Roy,Zenith Media Contents,Z-Boys,23.0,NaN,NaN,NaN,Vietnam,Main Vocalist,0,0
8,9,Josh,Zenith Media Contents,Z-Boys,22.0,174.0,NaN,NaN,Philippines,"Main Dancer, Lead Vocalist",0,0
9,10,Sid,Zenith Media Contents,Z-Boys,20.0,NaN,NaN,NaN,India,Main Vocalist,0,0

In [17]:
#Fill NaN values to median of ages for each gender
data["age"].fillna(data.groupby("gender")["age"].transform("median"), inplace=True)    
data.head(80)

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,NaN,NaN,NaN,South Korea,"Leader, Vocalist",1,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,NaN,NaN,NaN,South Korea,"Vocalist, Maknae",1,0
5,6,Soyou,주식회사 씨그널엔터테인먼트그룹,Berry Chu,34.0,NaN,NaN,NaN,South Korea,Vocalist,1,0
6,7,Vanya,Zenith Media Contents,Z-Girls,23.0,159.0,50.0,O,Indonesia,"Lead Vocalist, Main Dancer, Lead Rapper",1,0
7,8,Roy,Zenith Media Contents,Z-Boys,23.0,NaN,NaN,NaN,Vietnam,Main Vocalist,0,0
8,9,Josh,Zenith Media Contents,Z-Boys,22.0,174.0,NaN,NaN,Philippines,"Main Dancer, Lead Vocalist",0,0
9,10,Sid,Zenith Media Contents,Z-Boys,20.0,NaN,NaN,NaN,India,Main Vocalist,0,0
10,11,Gai,Zenith Media Contents,Z-Boys,19.0,NaN,NaN,NaN,Japan,"Main Rapper, Lead Dancer, Vocalist, Visual",0,0
11,12,Blink,Zenith Media Contents,Z-Boys,15.0,NaN,NaN,NaN,Thailand,"Vocalist, Maknae",0,0
12,13,Carlyn,Zenith Media Contents,Z-Girls,24.0,160.0,45.0,NaN,Philippines,"Leader, Main Vocalist, Lead Dancer, Center",1,0
13,14,Mahiro,Zenith Media Contents,Z-Girls,24.0,156.0,43.0,A,Japan,"Lead Vocalist, Visual",1,0
14,15,Bell,Zenith Media Contents,Z-Girls,16.0,156.0,43.0,NaN,Thailand,"Lead Dancer, Rapper, Vocalist, Youngest",1,0
15,16,Queen,Zenith Media Contents,Z-Girls,23.0,162.0,49.0,NaN,Vietnam,"Main Rapper, Lead Dancer, Sub Vocalist",1,0
16,17,Priyanka,Zenith Media Contents,Z-Girls,22.0,155.0,43.0,NaN,India,Main Vocalist,1,0
17,18,Joanne,Zenith Media Contents,Z-Girls,19.0,173.0,50.0,NaN,Taiwan,"Lead Dancer, Vocalist, Visual",1,0
18,19,Mavin,Zenith Media Contents,Z-Boys,24.0,168.0,NaN,NaN,Indonesia,"Leader, Lead Dancer, Lead Rapper, Vocalist",0,0
19,20,Perry,Zenith Media Contents,Z-Boys,25.0,NaN,NaN,NaN,Taiwan,"Lead Vocalist, Lead Dancer",0,0
20,21,Sejin,Zenith Media,Wanna.B,29.0,166.0,47.0,NaN,South Korea,"Leader, Main Vocalist, Lead Rapper",1,0
21,22,Roeun,Zenith Media,Wanna.B,29.0,160.0,45.0,NaN,South Korea,Main Vocalist,1,0
22,23,Bang Hyunah,Zenith Media,Wanna.B,29.0,161.0,44.0,NaN,South Korea,"Main Rapper, Vocalist, Center,",1,0
23,24,Ami,Zenith Media,Wanna.B,25.0,170.0,49.0,NaN,South Korea,"Main Dancer, Vocalist, Visual",1,0
24,25,Eunsom,Zenith Media,Wanna.B,25.0,165.0,47.0,NaN,South Korea,"Lead Vocalist, Lead Dancer, Maknae",1,0
25,26,Cheng Xiao,Yuehua Entertainment,Cosmic Girls,21.0,167.0,NaN,B,China,"Main Dancer, Vocalist, Visual, Face Of the Group",1,0
26,27,Luda,Yuehua Entertainment,Cosmic Girls,23.0,157.0,NaN,A,South Korea,"Lead Rapper, Vocalist",1,0
27,28,Onda,Yuehua Entertainment,EVERGLOW,19.0,166.0,NaN,B,South Korea,"Lead Vocalist, Lead Dancer, Visual",1,1
28,29,Yibo,Yuehua Entertainment,UNIQ,22.0,182.0,59.0,A,South Korea,"Main Dancer, Rapper, Vocalist, Visual, Maknae",0,0
29,30,Seungyoun,Yuehua Entertainment,UNIQ,23.0,180.0,65.0,O,South Korea,"Main Rapper, Vocalist",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
50,51,Lim Na Young,YMC Entertainment,I.O.I,24.0,171.0,50.0,O,South Korea,"Leader, Main Rapper, Lead Dancer, Vocalist",1,0
51,52,Chungha,YMC Entertainment,I.O.I,24.0,161.0,44.0,A,South Korea,"Main Dancer, Lead Vocalist, Rapper",1,0
52,53,Kim Se Jeong,YMC Entertainment,I.O.I,23.0,164.0,48.0,AB,South Korea,Main Vocalist,1,0
53,54,Chaeyeon,YMC Entertainment,I.O.I,23.0,166.0,49.0,A,South Korea,"Vocalist, Visual",1,0
54,55,Kyulkyung,YMC Entertainment,I.O.I,21.0,166.0,47.0,O,South Korea,"Lead Dancer, Vocalist, Visual",1,0
55,56,Sohye,YMC Entertainment,I.O.I,20.0,163.0,48.0,A,South Korea,"Vocalist, Rapper",1,0
56,57,Yeonjung,YMC Entertainment,I.O.I,20.0,167.0,52.0,A,South Korea,Main Vocalist,1,0
57,58,Yoojung,YMC Entertainment,I.O.I,20.0,157.0,44.0,O,South Korea,"Lead Rapper, Lead Dancer, Lead Vocalist",1,0
58,59,Mina,YMC Entertainment,I.O.I,20.0,162.0,48.0,O,South Korea,"Lead Dancer, Vocalist, Rapper",1,0
59,60,Somi,YMC Entertainment,I.O.I,23.0,169.0,48.0,O,South Korea,"Lead Dancer, Lead Vocalist, Rapper, Center, Ma...",1,0
60,61,B.I,YG Entertainment,iKon,23.0,175.0,60.0,O,South Korea,"Leader, Main Dancer, Lead Rapper, Vocalist",0,0
61,62,Chan,YG Entertainment,iKon,22.0,181.0,NaN,A,South Korea,"Vocalist, Maknae",0,0
62,63,Ju-ne,YG Entertainment,iKon,23.0,183.0,NaN,A,South Korea,"Main Vocalist, Lead Dancer",0,0
63,64,DK,YG Entertainment,iKon,23.0,173.0,62.0,O,South Korea,"Main Dancer, Vocalist",0,0
64,65,Bobby,YG Entertainment,iKon,24.0,178.0,68.0,O,South Korea,"Main Rapper, Vocalist",0,0
65,66,Song,YG Entertainment,iKon,25.0,177.0,58.0,A,South Korea,"Lead Vocalist, Visual, Center",0,0
66,67,Jay,YG Entertainment,iKon,26.0,165.0,NaN,A,South Korea,"Main Vocalist, Lead Dancer",0,0
67,68,DJ Tukutz,YG Entertainment,Epik High,38.0,176.0,65.0,NaN,South Korea,"Producer, Turntablist, Engineer",0,0
68,69,Tablo,YG Entertainment,Epik High,39.0,172.0,62.0,A,South Korea,"Leader, Main Rapper, Main Vocalist",0,0
69,70,Jihoon,YG Entertainment,Magnum,20.0,177.0,64.0,B,South Korea,"Leader, Vocalist, Dancer",0,0
70,71,Yoshinori,YG Entertainment,Magnum,19.0,178.0,65.0,A,Japan,"Rapper, Dancer",0,0
71,72,Yoonbin,YG Entertainment,Magnum,19.0,176.0,62.0,A,South Korea,Rapper,0,0
72,73,Mashiho,YG Entertainment,Magnum,19.0,167.0,60.0,AB,Japan,"Vocalist, Visual",0,0
73,74,Asahi,YG Entertainment,Magnum,18.0,172.0,58.0,AB,Japan,Vocalist,0,0
74,75,Hyunsuk,YG Entertainment,TREASURE,21.0,170.7,58.0,A,South Korea,"Leader, Main Rapper, Main Dancer, Vocalist",0,0
75,76,Doyoung,YG Entertainment,Magnum,16.0,175.0,57.0,B,South Korea,"Vocalist, Dancer, Maknae",0,0
76,77,Jeongwoo,YG Entertainment,Treasure13,15.0,175.0,58.0,O,South Korea,Vocalist,0,0
77,78,Hyunsuk,YG Entertainment,Treasure13,21.0,170.7,57.0,A,South Korea,"Leader, Rapper, Dancer",0,0
78,79,Jihoon,YG Entertainment,Treasure13,20.0,177.0,65.0,B,South Korea,"Dancer, Vocalist",0,0
79,80,Ros,YG Entertainment,Black Pink,23.0,168.0,46.0,B,South Korea,"Main Vocalist, Lead Dancer",1,1

In [18]:
#Fill missing height, weight for each gender
data["height"].fillna(data.groupby("gender")["height"].transform("median"), inplace=True)    
data["weight"].fillna(data.groupby("gender")["weight"].transform("median"), inplace=True)
data.head(20)

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,165.0,46.0,NaN,South Korea,"Leader, Vocalist",1,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,165.0,46.0,NaN,South Korea,Vocalist,1,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,165.0,46.0,NaN,South Korea,Vocalist,1,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,165.0,46.0,NaN,South Korea,Vocalist,1,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,165.0,46.0,NaN,South Korea,"Vocalist, Maknae",1,0
5,6,Soyou,주식회사 씨그널엔터테인먼트그룹,Berry Chu,34.0,165.0,46.0,NaN,South Korea,Vocalist,1,0
6,7,Vanya,Zenith Media Contents,Z-Girls,23.0,159.0,50.0,O,Indonesia,"Lead Vocalist, Main Dancer, Lead Rapper",1,0
7,8,Roy,Zenith Media Contents,Z-Boys,23.0,178.0,61.0,NaN,Vietnam,Main Vocalist,0,0
8,9,Josh,Zenith Media Contents,Z-Boys,22.0,174.0,61.0,NaN,Philippines,"Main Dancer, Lead Vocalist",0,0
9,10,Sid,Zenith Media Contents,Z-Boys,20.0,178.0,61.0,NaN,India,Main Vocalist,0,0
10,11,Gai,Zenith Media Contents,Z-Boys,19.0,178.0,61.0,NaN,Japan,"Main Rapper, Lead Dancer, Vocalist, Visual",0,0
11,12,Blink,Zenith Media Contents,Z-Boys,15.0,178.0,61.0,NaN,Thailand,"Vocalist, Maknae",0,0
12,13,Carlyn,Zenith Media Contents,Z-Girls,24.0,160.0,45.0,NaN,Philippines,"Leader, Main Vocalist, Lead Dancer, Center",1,0
13,14,Mahiro,Zenith Media Contents,Z-Girls,24.0,156.0,43.0,A,Japan,"Lead Vocalist, Visual",1,0
14,15,Bell,Zenith Media Contents,Z-Girls,16.0,156.0,43.0,NaN,Thailand,"Lead Dancer, Rapper, Vocalist, Youngest",1,0
15,16,Queen,Zenith Media Contents,Z-Girls,23.0,162.0,49.0,NaN,Vietnam,"Main Rapper, Lead Dancer, Sub Vocalist",1,0
16,17,Priyanka,Zenith Media Contents,Z-Girls,22.0,155.0,43.0,NaN,India,Main Vocalist,1,0
17,18,Joanne,Zenith Media Contents,Z-Girls,19.0,173.0,50.0,NaN,Taiwan,"Lead Dancer, Vocalist, Visual",1,0
18,19,Mavin,Zenith Media Contents,Z-Boys,24.0,168.0,61.0,NaN,Indonesia,"Leader, Lead Dancer, Lead Rapper, Vocalist",0,0
19,20,Perry,Zenith Media Contents,Z-Boys,25.0,178.0,61.0,NaN,Taiwan,"Lead Vocalist, Lead Dancer",0,0

In [19]:
#change values of Blood type column and fill NaN values for each gender
bloodtype_map = {"O": 1, "A": 2, "B": 3, "AB": 4}
data['blood type']= data['blood type'].map(bloodtype_map)
data['blood type'].fillna(data.groupby("gender")['blood type'].transform("median"), inplace=True)

In [20]:
data.head(30)

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,165.0,46.0,2.0,South Korea,"Leader, Vocalist",1,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,165.0,46.0,2.0,South Korea,Vocalist,1,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,165.0,46.0,2.0,South Korea,Vocalist,1,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,165.0,46.0,2.0,South Korea,Vocalist,1,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,165.0,46.0,2.0,South Korea,"Vocalist, Maknae",1,0
5,6,Soyou,주식회사 씨그널엔터테인먼트그룹,Berry Chu,34.0,165.0,46.0,2.0,South Korea,Vocalist,1,0
6,7,Vanya,Zenith Media Contents,Z-Girls,23.0,159.0,50.0,1.0,Indonesia,"Lead Vocalist, Main Dancer, Lead Rapper",1,0
7,8,Roy,Zenith Media Contents,Z-Boys,23.0,178.0,61.0,2.0,Vietnam,Main Vocalist,0,0
8,9,Josh,Zenith Media Contents,Z-Boys,22.0,174.0,61.0,2.0,Philippines,"Main Dancer, Lead Vocalist",0,0
9,10,Sid,Zenith Media Contents,Z-Boys,20.0,178.0,61.0,2.0,India,Main Vocalist,0,0
10,11,Gai,Zenith Media Contents,Z-Boys,19.0,178.0,61.0,2.0,Japan,"Main Rapper, Lead Dancer, Vocalist, Visual",0,0
11,12,Blink,Zenith Media Contents,Z-Boys,15.0,178.0,61.0,2.0,Thailand,"Vocalist, Maknae",0,0
12,13,Carlyn,Zenith Media Contents,Z-Girls,24.0,160.0,45.0,2.0,Philippines,"Leader, Main Vocalist, Lead Dancer, Center",1,0
13,14,Mahiro,Zenith Media Contents,Z-Girls,24.0,156.0,43.0,2.0,Japan,"Lead Vocalist, Visual",1,0
14,15,Bell,Zenith Media Contents,Z-Girls,16.0,156.0,43.0,2.0,Thailand,"Lead Dancer, Rapper, Vocalist, Youngest",1,0
15,16,Queen,Zenith Media Contents,Z-Girls,23.0,162.0,49.0,2.0,Vietnam,"Main Rapper, Lead Dancer, Sub Vocalist",1,0
16,17,Priyanka,Zenith Media Contents,Z-Girls,22.0,155.0,43.0,2.0,India,Main Vocalist,1,0
17,18,Joanne,Zenith Media Contents,Z-Girls,19.0,173.0,50.0,2.0,Taiwan,"Lead Dancer, Vocalist, Visual",1,0
18,19,Mavin,Zenith Media Contents,Z-Boys,24.0,168.0,61.0,2.0,Indonesia,"Leader, Lead Dancer, Lead Rapper, Vocalist",0,0
19,20,Perry,Zenith Media Contents,Z-Boys,25.0,178.0,61.0,2.0,Taiwan,"Lead Vocalist, Lead Dancer",0,0
20,21,Sejin,Zenith Media,Wanna.B,29.0,166.0,47.0,2.0,South Korea,"Leader, Main Vocalist, Lead Rapper",1,0
21,22,Roeun,Zenith Media,Wanna.B,29.0,160.0,45.0,2.0,South Korea,Main Vocalist,1,0
22,23,Bang Hyunah,Zenith Media,Wanna.B,29.0,161.0,44.0,2.0,South Korea,"Main Rapper, Vocalist, Center,",1,0
23,24,Ami,Zenith Media,Wanna.B,25.0,170.0,49.0,2.0,South Korea,"Main Dancer, Vocalist, Visual",1,0
24,25,Eunsom,Zenith Media,Wanna.B,25.0,165.0,47.0,2.0,South Korea,"Lead Vocalist, Lead Dancer, Maknae",1,0
25,26,Cheng Xiao,Yuehua Entertainment,Cosmic Girls,21.0,167.0,46.0,3.0,China,"Main Dancer, Vocalist, Visual, Face Of the Group",1,0
26,27,Luda,Yuehua Entertainment,Cosmic Girls,23.0,157.0,46.0,2.0,South Korea,"Lead Rapper, Vocalist",1,0
27,28,Onda,Yuehua Entertainment,EVERGLOW,19.0,166.0,46.0,3.0,South Korea,"Lead Vocalist, Lead Dancer, Visual",1,1
28,29,Yibo,Yuehua Entertainment,UNIQ,22.0,182.0,59.0,2.0,South Korea,"Main Dancer, Rapper, Vocalist, Visual, Maknae",0,0
29,30,Seungyoun,Yuehua Entertainment,UNIQ,23.0,180.0,65.0,1.0,South Korea,"Main Rapper, Vocalist",0,0

In [21]:
data['position'] = data['position'].fillna("0")

for i, j in data.iterrows():
    d = data['position'][i]
    if "Vocalist" in d:
        data['position'][i] = "Vocalist" 
    elif "Rapper" in d:
        data['position'][i] = "Rapper" 
    else:
        data['position'][i] = "Other"

C:\anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
#change values of Position column
position_map = {"Vocalist": 1, "Rapper": 2, "Other": 3}
data['position']= data['position'].map(position_map)

In [23]:
data.head(20)

,rank,name,agency,group,age,height,weight,blood type,country,position,gender,popularity
0,1,Jinah,주식회사 씨그널엔터테인먼트그룹,Berry Chu,37.0,165.0,46.0,2.0,South Korea,1,1,0
1,2,Hayul,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,165.0,46.0,2.0,South Korea,1,1,0
2,3,Jieun,주식회사 씨그널엔터테인먼트그룹,Berry Chu,33.0,165.0,46.0,2.0,South Korea,1,1,0
3,4,Yunmi,주식회사 씨그널엔터테인먼트그룹,Berry Chu,32.0,165.0,46.0,2.0,South Korea,1,1,0
4,5,Haum,주식회사 씨그널엔터테인먼트그룹,Berry Chu,29.0,165.0,46.0,2.0,South Korea,1,1,0
5,6,Soyou,주식회사 씨그널엔터테인먼트그룹,Berry Chu,34.0,165.0,46.0,2.0,South Korea,1,1,0
6,7,Vanya,Zenith Media Contents,Z-Girls,23.0,159.0,50.0,1.0,Indonesia,1,1,0
7,8,Roy,Zenith Media Contents,Z-Boys,23.0,178.0,61.0,2.0,Vietnam,1,0,0
8,9,Josh,Zenith Media Contents,Z-Boys,22.0,174.0,61.0,2.0,Philippines,1,0,0
9,10,Sid,Zenith Media Contents,Z-Boys,20.0,178.0,61.0,2.0,India,1,0,0
10,11,Gai,Zenith Media Contents,Z-Boys,19.0,178.0,61.0,2.0,Japan,1,0,0
11,12,Blink,Zenith Media Contents,Z-Boys,15.0,178.0,61.0,2.0,Thailand,1,0,0
12,13,Carlyn,Zenith Media Contents,Z-Girls,24.0,160.0,45.0,2.0,Philippines,1,1,0
13,14,Mahiro,Zenith Media Contents,Z-Girls,24.0,156.0,43.0,2.0,Japan,1,1,0
14,15,Bell,Zenith Media Contents,Z-Girls,16.0,156.0,43.0,2.0,Thailand,1,1,0
15,16,Queen,Zenith Media Contents,Z-Girls,23.0,162.0,49.0,2.0,Vietnam,1,1,0
16,17,Priyanka,Zenith Media Contents,Z-Girls,22.0,155.0,43.0,2.0,India,1,1,0
17,18,Joanne,Zenith Media Contents,Z-Girls,19.0,173.0,50.0,2.0,Taiwan,1,1,0
18,19,Mavin,Zenith Media Contents,Z-Boys,24.0,168.0,61.0,2.0,Indonesia,1,0,0
19,20,Perry,Zenith Media Contents,Z-Boys,25.0,178.0,61.0,2.0,Taiwan,1,0,0

In [24]:
#drop the columns because we dont need them
data.drop('agency',axis=1,inplace=True)
data.drop('name',axis=1,inplace=True)
data.drop('group',axis=1,inplace=True)
data.drop('rank',axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901 entries, 0 to 1900
Data columns (total 8 columns):
age           1901 non-null float64
height        1901 non-null float64
weight        1901 non-null float64
blood type    1901 non-null float64
country       1895 non-null object
position      1901 non-null int64
gender        1901 non-null int64
popularity    1901 non-null int64
dtypes: float64(4), int64(3), object(1)
memory usage: 118.9+ KB

In [25]:
data["country"].fillna(method ='ffill', inplace = True) 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901 entries, 0 to 1900
Data columns (total 8 columns):
age           1901 non-null float64
height        1901 non-null float64
weight        1901 non-null float64
blood type    1901 non-null float64
country       1901 non-null object
position      1901 non-null int64
gender        1901 non-null int64
popularity    1901 non-null int64
dtypes: float64(4), int64(3), object(1)
memory usage: 118.9+ KB

In [26]:
country_map = {"South Korea": 0, "China": 0.4, "Taiwan": 0.8, "India": 1.2, "Japan": 1.6, "USA": 2, "Thailand": 2.4, "Vietnam": 2.8, "Indonesia": 3.2, "Philippines": 3.6}
data['country'] = data['country'].map(country_map)
data.head(30)

     age  height  weight  blood type  country  position  gender  popularity
0   37.0   165.0    46.0         2.0      0.0         1       1           0
1   33.0   165.0    46.0         2.0      0.0         1       1           0
2   33.0   165.0    46.0         2.0      0.0         1       1           0
3   32.0   165.0    46.0         2.0      0.0         1       1           0
4   29.0   165.0    46.0         2.0      0.0         1       1           0
5   34.0   165.0    46.0         2.0      0.0         1       1           0
6   23.0   159.0    50.0         1.0      3.2         1       1           0
7   23.0   178.0    61.0         2.0      2.8         1       0           0
8   22.0   174.0    61.0         2.0      3.6         1       0           0
9   20.0   178.0    61.0         2.0      1.2         1       0           0
10  19.0   178.0    61.0         2.0      1.6         1       0           0
11  15.0   178.0    61.0         2.0      2.4         1       0           0
12  24.0   160.0    45.0         2.0      3.6         1       1           0
13  24.0   156.0    43.0         2.0      1.6         1       1           0
14  16.0   156.0    43.0         2.0      2.4         1       1           0
15  23.0   162.0    49.0         2.0      2.8         1       1           0
16  22.0   155.0    43.0         2.0      1.2         1       1           0
17  19.0   173.0    50.0         2.0      0.8         1       1           0
18  24.0   168.0    61.0         2.0      3.2         1       0           0
19  25.0   178.0    61.0         2.0      0.8         1       0           0
20  29.0   166.0    47.0         2.0      0.0         1       1           0
21  29.0   160.0    45.0         2.0      0.0         1       1           0
22  29.0   161.0    44.0         2.0      0.0         1       1           0
23  25.0   170.0    49.0         2.0      0.0         1       1           0
24  25.0   165.0    47.0         2.0      0.0         1       1           0
25  21.0   167.0    46.0         3.0      0.4         1       1           0
26  23.0   157.0    46.0         2.0      0.0         1       1           0
27  19.0   166.0    46.0         3.0      0.0         1       1           1
28  22.0   182.0    59.0         2.0      0.0         1       0           0
29  23.0   180.0    65.0         1.0      0.0         1       0           0